.firstArrow {
  width: 10vh;
  height: 100%;
  background-image: url("images/firstArrow.svg");
  background-repeat: no-repeat;
  margin-left: 7vw;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.noArrow {
  width: 20vw;
  height: 100vh;
  background-image: url("images/noArrow.svg");
  background-repeat: no-repeat;
  margin-left: 43vw;
  margin-top: 18vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.yesArrow {
  width: 100vw;
  height: 16vh;
  background-image: url("images/yesArrow.svg");
  background-repeat: no-repeat;
  margin-left: 33vw;
  margin-top: 33vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.registeredArrow {
  height: 16vh;
  width: 100vw;
  background-image: url("images/registeredArrow.svg");
  background-repeat: no-repeat;
  margin-left: 55vw;
  margin-top: 33vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.inPersonArrow {
  width: 50vw;
  height: 33vh;
  background-image: url("images/inPersonArrow.svg");
  background-repeat: no-repeat;
  margin-left: 60vw;
  margin-top: 73vh;
  margin-bottom: 0%;
  position: absolute;
}

.absenteeArrow {
  width: 100vw;
  height: 20vh;
  background-image: url("images/absenteeArrow.svg");
  background-repeat: no-repeat;
  margin-left: 30vw;
  margin-top: 74vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.sentArrow {
  width: 19vw;
  height: 20vh;
  background-image: url("images/sentArrow.svg");
  background-repeat: no-repeat;
  margin-left: 41vw;
  margin-top: 103vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}
