.firstArrow {
  width: 10vh;
  height: 100%;
  background-image: url("images/firstArrow.svg");
  background-repeat: no-repeat;
  margin-left: 7vw;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.noArrow {
  width: 20vw;
  height: 10vh;
  background-image: url("images/noArrow.svg");
  background-repeat: no-repeat;
  margin-left: 43vw;
  margin-top: 18vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}

.yesArrow {
  width: 10vw;
  height: 25vh;
  background-image: url("images/yesArrow.svg");
  background-repeat: no-repeat;
  margin-left: 33vw;
  margin-top: 33vh;
  margin-right: 0%;
  margin-bottom: 0%;
  position: absolute;
}
