@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0px;
  height: 4vh;
  background-color: gray;
  width: 100%;
}

.bottom-text {
  font-size: 2vh;
  font-family: sans-serif;
}
