@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-bold';
  src: local('Roboto-bold'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-medium';
  src: local('Roboto-medium'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fed8b1;
}

#splash {
  height: 100vh;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  #splash {
    background-color: #fed8b1;
  }
}

@media only screen and (min-width: 601px) {
  #splash {
    background-image: url("images/scflag.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}

svg:hover {
  fill: #cccccc;
  cursor: pointer;
  transition: .2s;
}

svg {
  height: 10vh;
  width: 10vh;
  bottom: 10vh;
  position: fixed;
  fill: #9021fc;
  transition: .2s;
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 600px) {
  svg {
    left: 43%;
  }
}

@media only screen and (min-width: 601px) {
  svg {
    left: 48%;
  }
}

#root {
  height: 160vh;
  background-color: #bbbbbb;
  position: relative;
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
}

#step-heading {
  margin: 0;
  padding-top: 7vh;
  text-align: center;
  color: white;
  font-size: 8vh;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  #step-heading {
    margin-bottom: 10vh;
  }
}

.bottom {
  height: 9vh;
  background-color: #dddddd;
  width: 100%;
  position: absolute;
}

.bottom-text {
  font-size: 2vh;
  font-family: sans-serif;
  text-align: center;
  color: #555555;
  margin-top: 1vh;
}
